.template-card {
    width: 140px;
    cursor: pointer;
  }

  
.template-thumbnail {
  width: 100%;
  height: 180px;
  background: white;
  border: 1px solid #dadce0;
  border-radius: 4px;
  overflow: hidden; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease-in-out;
}

.template-thumbnail-img {
  object-fit: cover; 
  width: 100%;
  height: 100%;
}

    .template-thumbnail:hover {
    border: 1px solid blue;
  }
  
  .template-caption {
    margin-top: 8px;
    text-align: center;
  }
  
  .template-title {
    font-size: 14px;
    font-weight: 500;
    color: #202124;
  }
  
  .template-subtitle {
    font-size: 12px;
    color: #5f6368;
  }

  .template-card:hover{
    border-color: 3px solid blue;
  }

[data-theme="dark"] {
    .template-thumbnail {
        background: #3c3d3f;
        border: 1px solid #5f6368;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .template-title {
        color: #e8eaed;
    }

    .template-subtitle {
        color: #9aa0a6;
    }

    /* .template-card{
        transition: border 0.3s ease-in-out ; ;
    }

    .template-card:hover {
        border: 1px solid blue;
    } */
}