.error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-page h1 {
    font-size: 3rem;
    color: #dc3545;
    margin-bottom: 10px;
    animation: popIn 0.5s ease-out;
}

.error-page button {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color ease-in-out 0.25s;
}

button:hover{
    background-color: aqua;
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}