.recent-doc-card {
    background: #f9f9f9;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 1px 3px rgb(60 64 67 / 0.3);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .recent-doc-card:hover {
    box-shadow: 0 4px 8px rgb(60 64 67 / 0.5);
  }
  
  .recent-doc-thumbnail {
    background: #e0e0e0;
    height: 120px;
    border-radius: 4px;
  }
  
  .recent-doc-caption {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 6px;
  }
  
  .recent-doc-title {
    font-weight: 600;
    font-size: 16px;
    color: #202124;
  }
  
  .recent-doc-subtitle {
    font-size: 14px;
    color: #5f6368;
  }

  .btn-cont{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .delete-btn{
  border-radius: 20px;
  background-color: white;
  border:none ; 
  box-shadow: 0px 0px 5px rgb(48, 46, 46) ;
  width: 5vw ; 
}
  